.promo-section {
  padding: 50px 40px;
  background: #000;
  border-radius: 10px;
  color: #fff;
}
.promo-section h5 {
    color: #00FF66;
}
.promo-section .btn{
    background-color:#00FF66 ;
}
.promo-section .btn:hover
{
   background-color: #db4444;
}
.promo-title {
  font-size: 40px;
  line-height: 1.3;
}

.promo-img img {
  max-width: 100%;
}

.count-box {
  width: 65px;
  height: 65px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.count-box span {
  display: block;
  font-size: 10px;
  color: #555;
  font-weight: normal;
}
